@charset "utf-8";
*{margin: 0; padding: 0; }
body {
  font-family: "Microsoft Yahei";
  font-size: 14px;
  color: #333;
  background-color: #E4E1E1;
}
a, a:hover { text-decoration: none; color: #333; }
ul, li { list-style: none; }
svg{
  fill: currentColor;
}
.mt-tabpage {
  width: 900px;
  margin: 30px auto;
  box-shadow: 0 0 5px #999;
  background-color: #fff9f8;
}
.mt-tabpage-title {
  height: 44px;
  font-size: 0;
  background-color: #4984a6;
  width: 100%;
  margin: auto;
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
}
.mt-tabpage-title .mt-tabpage-item {
  display: inline-block;
  width: 105px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #666;
  font-size: 12px;
}
.mt-tabpage-title .mt-tabpage-item:hover{
  color: #eb4537;
}
.mt-tabpage-title .mt-tabpage-item-cur {
  color: #eb4537;
  font-size: 14px;
  border-bottom: 1px solid #F85B5E;
}
.mt-tabpage-count {
  position: relative;
  width: 900px;
  height: 600px;
  overflow: hidden;
}
.mt-tabpage-cont__wrap {
  position: absolute;
}
.mt-tabpage-count .mt-tabpage-item {
  width: 900px;
  height: 600px;
  line-height: 200px;
  text-align: center;

}
.container {
  width: 1000px;
  height: 700px;
  margin: 0 auto;
  position: relative;
}
.leftbox {
    width: 300px;  /*左侧固定宽度值*/
    height: 100%;
    position: absolute;
    background-color: #aadddd;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}
.rightbox {
    height: 100%;
    margin-left: 300px; /*边距值=左侧固定宽度值*/
    position: relative;
    background-color: #f08844;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}
.upbox{
    width:100%;
    order:1;
    flex-grow: 1;
    background-color: #0b2e13;
}
.downbox{
    width:100%;
    order:2;
    flex-grow: 1;
}
.topbox{
    width:100%;
    height:400px;
    order:1;
    flex-grow:1;
    background: #fff9f8;
}
.bottombox{
    width:100%;
    height:calc(100% - 400px);
    order:2;
    flex-grow:1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #9f7f5f;
}
.bottomleft{
    height:100%;
    order:1;
    flex-grow:1;
    background-color: #6610f2;
}
.bottomright{
    height:100%;
    order:2;
    flex-grow:1;
    background-color: orangered;
}